@charset "UTF-8";
/*
  色の設定
*/
:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-text: #333333;
  --color-gray: #d9d9d9;
  --color-gray-f2f2f2: #f2f2f2;
  --color-accent: #2439f2;
  --duration: 0.4s;
}

/*
  フォントファミリー
*/
/*
  ブレークポイント
*/
/* Webサイト全体のスタイル設定・初期化 */
html {
  font-size: 62.5%;
  font-family: "Noto Sans JP", sans-serif;
  scroll-behavior: smooth;
}

img {
  height: auto;
}

/* init ua styles */
*,
*::before,
*::after {
  min-width: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
ul,
ol,
dl,
dd {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

p {
  text-align: justify;
}

[class*=c-list] {
  padding-left: 0;
  list-style: none;
}

[class*=c-table] {
  table-layout: fixed;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

[tabindex="-1"]:focus-visible:not(:focus-visible-visible) {
  outline: 0 !important;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

abbr[title],
abbr[data-original-title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}
abbr[title][data-reset],
abbr[data-original-title][data-reset] {
  text-decoration: none;
}

address {
  font-style: normal;
  line-height: inherit;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 65%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}
@media (any-hover: hover) {
  a:hover {
    text-decoration: underline;
  }
  a.c-hover-underline-less:hover {
    text-decoration: none;
  }
  a[href^=tel] {
    pointer-events: none;
    cursor: text;
    text-decoration: none;
  }
}
a:not([class]) {
  text-decoration: underline;
}
a[href^=tel] {
  text-decoration: none;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

em {
  font-weight: 700;
  font-style: inherit;
}

img,
picture {
  max-width: 100%;
  border-style: none;
}

img {
  height: auto;
  display: block;
}

svg {
  overflow: hidden;
  vertical-align: middle;
  max-width: 100%;
  fill: currentcolor;
  font-size: inherit;
}
svg:not([width]), svg:not([height]) {
  width: 1em;
  height: 1em;
}

table {
  border-collapse: collapse;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
  outline: none;
  border: hidden;
  background: transparent;
}

button:focus-visible {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font: inherit;
  line-height: inherit;
}

@media (any-hover: none) {
  input,
  textarea,
  select {
    font-size: 16px;
  }
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
  color: inherit;
  word-wrap: normal;
}

button,
[type=button],
[type=reset],
[type=submit] {
  padding: 0;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  appearance: button;
  color: inherit;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

[disabled] {
  cursor: not-allowed;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
}

[type=radio] {
  border-radius: 49.9%;
}

[type=file] {
  cursor: pointer !important;
}

input[readonly] {
  border: hidden !important;
}

input[type=radio],
input[type=checkbox] {
  padding: 0;
  flex: 0 0 auto;
  margin-right: 3px;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
          appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
iframe {
  display: block;
}

/* init base styles */
body {
  min-height: 100vh;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-family: "Noto Sans JP";
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: normal;
  font-weight: 400;
  font-feature-settings: "palt" 1;
}

.c-container {
  width: 117rem;
  max-width: calc(100% - 40px);
  margin: 0 auto;
}

.c-slide__item img {
  display: flex;
  flex: 0 0 auto;
  overflow: hidden;
  border-radius: 1rem;
}

.splide__slide img {
  width: 100%;
  height: auto;
}

.thumbnails {
  display: flex;
  margin: 1rem auto 0;
  padding: 0;
  justify-content: center;
}

.thumbnail {
  width: 70px;
  height: 70px;
  overflow: hidden;
  list-style: none;
  margin: 0 0.2rem;
  cursor: pointer;
}

.splide__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.splide__slide {
  opacity: 0.6;
}

.splide__slide.is-active {
  opacity: 1;
}

.thumbnail-carousel {
  margin-top: 4rem;
}
@media screen and (min-width: 1024px) {
  .thumbnail-carousel {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -45%);
  }
}

.c-list {
  padding-left: 0;
  list-style: none;
}

.c-list-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -1rem;
  overflow: hidden;
}
.c-list-category__item {
  width: 50%;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .c-list-category__item {
    width: 18rem;
  }
}
.c-list-category__link {
  color: var(--color-text);
  transition: -webkit-text-decoration var(--duration) ease-in-out;
  transition: text-decoration var(--duration) ease-in-out;
  transition: text-decoration var(--duration) ease-in-out, -webkit-text-decoration var(--duration) ease-in-out;
}
@media (any-hover: hover) {
  .c-list-category__link:hover, .c-list-category__link:focus-visible {
    text-decoration: none;
  }
  .c-list-category__link:hover .c-tag-category, .c-list-category__link:focus-visible .c-tag-category {
    background: var(--color-gray);
  }
}
.c-list-category__link.is-active .c-tag-category {
  background: var(--color-gray);
}

.c-list-tag {
  width: 92rem;
  max-width: 100%;
  margin: 0 auto;
}
.c-list-tag__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -0.5rem;
}
.c-list-tag__item {
  width: auto;
  min-width: 8rem;
  padding: 0.5rem;
}
.c-list-tag__link {
  width: 100%;
  transition: -webkit-text-decoration 0.3s ease-in-out;
  transition: text-decoration 0.3s ease-in-out;
  transition: text-decoration 0.3s ease-in-out, -webkit-text-decoration 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .c-list-tag__link:hover, .c-list-tag__link:focus-visible {
    text-decoration: none;
  }
  .c-list-tag__link:hover .c-tag, .c-list-tag__link:focus-visible .c-tag {
    box-shadow: 0 0 0 2px var(--color-black) inset;
  }
}

.c-list-rank {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -1rem;
}
@media screen and (min-width: 1024px) {
  .c-list-rank {
    margin: -1.5rem;
  }
}
.c-list-rank__item {
  width: 50%;
  padding: 1rem;
}
@media screen and (min-width: 1024px) {
  .c-list-rank__item {
    width: 25%;
    padding: 1.5rem;
  }
}
.c-list-rank__link {
  position: relative;
  display: block;
  background: var(--color-gray-f2f2f2);
  transition: -webkit-text-decoration 0.3s ease-in-out;
  transition: text-decoration 0.3s ease-in-out;
  transition: text-decoration 0.3s ease-in-out, -webkit-text-decoration 0.3s ease-in-out;
  z-index: 0;
}
.c-list-rank__link::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: box-shadow 0.3s ease-in-out;
  z-index: 1;
}
@media (any-hover: hover) {
  .c-list-rank__link:hover, .c-list-rank__link:focus-visible {
    text-decoration: none;
  }
  .c-list-rank__link:hover::before, .c-list-rank__link:focus-visible::before {
    box-shadow: 0 0 0 2px var(--color-black) inset;
  }
  .c-list-rank__link:hover .c-list-rank__thumb-img, .c-list-rank__link:focus-visible .c-list-rank__thumb-img {
    transform: translate(-50%, -50%) scale(1.05);
  }
}
.c-list-rank__num {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  aspect-ratio: 1/1;
  font-size: 1.2rem;
  line-height: 1;
  background: var(--color-white);
  border-radius: 50%;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .c-list-rank__num {
    width: 2.5rem;
  }
}
.c-list-rank__thumb {
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.c-list-rank__thumb::before {
  content: "";
  display: block;
  padding-top: 83.3333333333%;
}
.c-list-rank__thumb-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s ease-in-out;
}
.c-list-rank__textarea {
  padding: 2rem;
}
.c-list-rank__color {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.c-list-rank__color-item {
  width: 3rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.preview {
  display: none;
}
.preview.js-active {
  display: block;
}

.js-change {
  width: 30px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--color-black);
  cursor: pointer;
}
.js-change.btn-active {
  box-shadow: 0 0 0 2px var(--color-accent) inset;
}

.c-tag {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  line-height: 1.4;
  border-radius: 50rem;
  background: var(--color-gray);
  transition: box-shadow var(--duration) ease-in-out;
  z-index: 0;
}
.c-tag::before {
  content: "#";
  display: flex;
  flex: 0 0 auto;
}

.c-tag-category {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  line-height: 1.4;
  border-radius: 50rem;
  transition: background var(--duration) ease-in-out;
}

.c-card-category {
  width: 92rem;
  max-width: 100%;
  margin: 0 auto;
}
.c-card-category__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -1rem;
  padding-left: 0;
}
@media screen and (min-width: 1024px) {
  .c-card-category__wrap {
    margin: -1.5rem;
  }
}
.c-card-category__item {
  width: 50%;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .c-card-category__item {
    width: 25%;
    padding: 1.5rem;
  }
}
.c-card-category__link {
  transition: color var(--duration) ease-in-out, -webkit-text-decoration var(--duration) ease-in-out;
  transition: color var(--duration) ease-in-out, text-decoration var(--duration) ease-in-out;
  transition: color var(--duration) ease-in-out, text-decoration var(--duration) ease-in-out, -webkit-text-decoration var(--duration) ease-in-out;
}
@media (any-hover: hover) {
  .c-card-category__link:hover, .c-card-category__link:focus-visible {
    color: var(--color-accent);
    text-decoration: none;
  }
  .c-card-category__link:hover .c-card-category__frame, .c-card-category__link:focus-visible .c-card-category__frame {
    box-shadow: 0 0 0 2px var(--color-accent);
  }
  .c-card-category__link:hover .c-card-category__img, .c-card-category__link:focus-visible .c-card-category__img {
    transform: translate(-50%, -50%) scale(1.2);
  }
}
.c-card-category__frame {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  transition: box-shadow var(--duration) ease-in-out;
  z-index: 0;
}
.c-card-category__frame::before {
  content: "";
  display: block;
  padding-top: 120%;
}
.c-card-category__img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translate(-50%, -50%);
  transition: transform var(--duration) ease-in-out;
}
.c-card-category__label {
  font-size: 1.6rem;
  text-align: center;
  font-weight: normal;
}

.c-heading-primary {
  line-height: 1.4;
  font-size: min(2.4rem, 6.4vw);
  font-weight: normal;
}
@media screen and (min-width: 768px) {
  .c-heading-primary {
    font-size: min(3rem, 8vw);
  }
}

.c-heading-col {
  display: flex;
  flex-direction: column-reverse;
  font-size: min(2.4rem, 6.4vw);
}
@media screen and (min-width: 768px) {
  .c-heading-col {
    font-size: min(3rem, 8vw);
  }
}
.c-heading-col__main {
  font-size: 0.5333333333em;
  font-weight: normal;
}
.c-heading-col__sub {
  text-transform: uppercase;
  line-height: 1.4;
}
.c-heading-col--small {
  font-size: 2rem;
}
.c-heading-col--small__main {
  font-size: 1rem;
}

.c-price {
  font-size: 1.6rem;
  line-height: 1.4;
}
@media screen and (min-width: 1024px) {
  .c-price {
    font-size: 1.8rem;
  }
}

.u-mt-10 {
  margin-top: 1rem;
}

.u-mt-20 {
  margin-top: 2rem;
}

.u-mt-30 {
  margin-top: 3rem;
}

.u-mt-40 {
  margin-top: 4rem;
}

.u-mt-50 {
  margin-top: 5rem;
}

.u-mb-10 {
  margin-bottom: 1rem;
}

.u-mb-20 {
  margin-bottom: 2rem;
}

.u-mb-30 {
  margin-bottom: 3rem;
}

.u-mb-40 {
  margin-bottom: 4rem;
}

.u-mb-50 {
  margin-bottom: 5rem;
}

.u-ml-10 {
  margin-left: 1rem;
}

.u-ml-20 {
  margin-left: 2rem;
}

.u-ml-30 {
  margin-left: 3rem;
}

.u-ml-40 {
  margin-left: 4rem;
}

.u-ml-50 {
  margin-left: 5rem;
}

.u-mr-10 {
  margin-right: 1rem;
}

.u-mr-20 {
  margin-right: 2rem;
}

.u-mr-30 {
  margin-right: 3rem;
}

.u-mr-40 {
  margin-right: 4rem;
}

.u-mr-50 {
  margin-right: 5rem;
}

.u-pt-10 {
  padding-top: 1rem;
}

.u-pt-20 {
  padding-top: 2rem;
}

.u-pt-30 {
  padding-top: 3rem;
}

.u-pt-40 {
  padding-top: 4rem;
}

.u-pt-50 {
  padding-top: 5rem;
}

.u-pb-10 {
  padding-bottom: 1rem;
}

.u-pb-20 {
  padding-bottom: 2rem;
}

.u-pb-30 {
  padding-bottom: 3rem;
}

.u-pb-40 {
  padding-bottom: 4rem;
}

.u-pb-50 {
  padding-bottom: 5rem;
}

.u-pl-10 {
  padding-left: 1rem;
}

.u-pl-20 {
  padding-left: 2rem;
}

.u-pl-30 {
  padding-left: 3rem;
}

.u-pl-40 {
  padding-left: 4rem;
}

.u-pl-50 {
  padding-left: 5rem;
}

.u-pr-10 {
  padding-right: 1rem;
}

.u-pr-20 {
  padding-right: 2rem;
}

.u-pr-30 {
  padding-right: 3rem;
}

.u-pr-40 {
  padding-right: 4rem;
}

.u-pr-50 {
  padding-right: 5rem;
}

.u-text-center {
  text-align: center;
}

.u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

.u-flex {
  display: flex;
}

.u-justify-center {
  justify-content: center;
}

.u-items-center {
  align-items: center;
}

.u-bg-black {
  background: var(--color-black);
}

.u-b {
  display: block;
}