/*
  色の設定
*/
$color-theme: #22af6a;
$color-theme-accent: #fffaad;
$color-gray-0: #ffffff;
$color-gray-100: #000000;
$color-gray-EEEEEE: #eeeeee;
$color-gray-555555: #555555;
$color-text: #333333;

/*
  フォントファミリー
*/
$font-body: 'Noto Sans JP', sans-serif;

/*
  ブレークポイント
*/
$breakpoints: (
  'min-md': 'screen and (min-width: 768px)',
  'min-lg': 'screen and (min-width: 1024px)',
  'max-md': 'screen and (max-width: 768px)',
  'max-lg': 'screen and (max-width: 1024px)',
) !default;

// @mixinの定義
@mixin over($breakpoint: min-md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
